.all{
    color: white;
}

.notError {
    padding: 5px 20px;
    margin: 5px 0;
    border-color: white;
    background-color: white;
    outline: none;
}
.error {
    padding: 5px 20px;
    margin: 5px 0;
    box-sizing: border-box;
    border-color: red;
    background-color: #f36d6d;
    color: white;
    outline: none;
}
.button {
    padding: 5px 20px;
    margin: 5px 0;
    border-color: white;
    background-color: grey;
    color: white;
    outline: none;
}